.left-button{
	 background-color: rgb(102, 153, 0);
	 color: white;
	 border-bottom-left-radius: 20px;
	 border-top-left-radius: 20px;
	 border-bottom-right-radius: 5px;
	 border-top-right-radius: 5px;
	 padding: 10px;
	 margin: 5px;
	 padding-bottom: 20px;
	 text-align: center;
	 font-family: Verdana,"Times New Roman", Times, serif;
	 display: inline-block;
	 vertical-align: middle;
	 float: none;
	 webkit-touch-callout: none;
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
}
.left-button:hover{
	background-color: rgb(128,179,26);
}
.left-button:active{
	background-color: rgb(64,115,0);
}
.mid-button{
	background-color: rgb(102, 153, 0);
	color: white;
	padding: 10px;
	border-radius: 5px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px;
	text-align: center;
	font-family: Verdana,"Times New Roman", Times, serif;
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.mid-button:hover{
	background-color: rgb(128,179,26);
}
.mid-button:active{
	background-color: rgb(64,115,0);
}
.right-button{
	background-color: rgb(102, 153, 0);
	color: white;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	padding: 10px;
	padding-bottom: 20px;
	margin: 5px;
	text-align: center;
	font-family: Verdana,"Times New Roman", Times, serif;
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.right-button:hover{
	background-color: rgb(128,179,26);
}
.right-button:active{
	background-color: rgb(64,115,0);
}
body{
	background-color: #eaffff;
}
textarea {
	resize: none;
}